section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  position: relative;
  padding: 20px;
  margin: 20px;
  margin-top: 21px;
  margin-bottom: 15px;
  border: 8px;
  border-style: solid;
  border-color: blue;

  
   
  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
}
